.green{
	background-color: white;
	width: auto;
	border: 5px green solid;

}

.red{
	border:5px red solid;
}

.brown{
border: 5px #FCE355 solid;
}
.blue{
	background-color: #E8FBFB;
	border: 5px blue solid; 
	padding: 5px;
}
#purple{
	border: 5px purple solid;
}
body{

	background-image: url(background.gif);
	margin-left: 10%;
	margin-right: 10%;
}